.homepage-wrapper{
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/book-background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-wrapper{
    display: flex;
    justify-content: center;
}
.error{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 1.3em;
}

.form-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

.search{
    width: 400px;
}

.search-input{
    box-shadow: 2px 8px 10px black;
}

.search, #submit-btn{
    line-height: 3em;
}

#submit-btn{
    border: 2px solid #722f37;
    color:#722f37;
    font-weight: bold;
    font-size: .75em;
}